In [1]:
# Import pandas if you dont have instated you can use requirements.txt to install it
import pandas as pd

In [2]:
# Pleas enter the date from which you want to start the reports 
start_reports='2023-10-10'

# Choose language 'ENG' for English or 'POL' Polish default language is English 
language_choice = 'POL'

if language_choice == 'POL':
    labels = ['Nadczo', 'Po śniadaniu', 'Po obiedzie', 'Po kolacji']
    output_name = f'Zbiorcze zestawienie poziomu cukru od dnia {start_reports}.csv'
else:
    labels = ['Fasting', 'After breakfast', 'After lunch', 'After dinner']
    output_name = f'Summary of sugar levels from date {start_reports}.csv'

# Chosen start reports date language and labels
print(f'''
Start reports date is: {start_reports},
language is: {language_choice}, 
chosen labels is: {', '.join(labels)}
''')

Start reports date is: 2023-10-10,
language is: POL,
chosen labels is: Nadczo, Po śniadaniu, Po obiedzie, Po kolacji

In [3]:
# Read data form Accu-Check instant glucose meter 
df_import = pd.read_csv('Export.csv')

In [4]:
# Print out columns name
df_import.columns

Index(['Date', 'Time', 'Tags', 'Blood Sugar Measurement (mg/dL)',
       'Insulin Injection Units (Pen)', 'Basal Injection Units',
       'Insulin Injection Units (pump)', 'Insulin (Meal)',
       'Insulin (Correction)', 'Temporary Basal Percentage',
       'Temporary Basal Duration (Minutes)',
       'Meal Carbohydrates (Grams, Factor 1)', 'Meal Descriptions',
       'Activity Duration (Minutes)',
       'Activity Intensity (1: Cosy, 2: Ordinary, 3: Demanding)',
       'Activity Description', 'Steps', 'Note', 'Location', 'Blood pressure',
       'Body weight (kg)', 'HbA1c (Percent)', 'Ketones', 'Food type',
       'Medication', 'Timezone'],
      dtype='object')

In [5]:
# Choose to necessary columns to reduce size Data Frame
df_selected_columns = df_import[['Date','Time', 'Blood Sugar Measurement (mg/dL)']]

# Rename columns names to keep naming convention in Python
df_convert_format = df_selected_columns.rename(columns={'Date': 'date', 'Time': 'time', 'Blood Sugar Measurement (mg/dL)': 'sugar'})

# Convert 'date', 'time' column to date format and create datetime combining 'date' and 'time'
df_convert_format['date'] = pd.to_datetime(df_convert_format['date'])
df_convert_format['time'] = pd.to_datetime(df_convert_format['time'], format='%I:%M:%S %p').dt.time
df_convert_format['datetime'] = df_convert_format['date'] + pd.to_timedelta(df_convert_format['time'].apply(lambda x: x.strftime('%H:%M:%S')))

# Print out result
df_convert_format

          date      time  sugar            datetime
0   2024-04-02  08:21:59  101.0 2024-04-02 08:21:59
1   2024-04-01  07:32:10  107.0 2024-04-01 07:32:10
2   2024-03-30  09:17:14  103.0 2024-03-30 09:17:14
3   2024-03-29  07:52:46  107.0 2024-03-29 07:52:46
4   2024-03-29  07:51:54  126.0 2024-03-29 07:51:54
..         ...       ...    ...                 ...
734 2022-09-03  05:45:31   97.0 2022-09-03 05:45:31
735 2022-09-02  07:07:02   97.0 2022-09-02 07:07:02
736 2022-09-01  08:58:01  118.0 2022-09-01 08:58:01
737 2022-08-30  09:41:46   93.0 2022-08-30 09:41:46
738 2022-08-29  11:17:51  100.0 2022-08-29 11:17:51

[739 rows x 4 columns]

In [6]:
# Filter out unnecessary data (older than "start_reports" and containing non-null values in the "sugar" column)
filtered_df = df_convert_format[(df_convert_format['date'] >= start_reports) & (~df_convert_format['sugar'].isna())]
filtered_df

          date      time  sugar            datetime
0   2024-04-02  08:21:59  101.0 2024-04-02 08:21:59
1   2024-04-01  07:32:10  107.0 2024-04-01 07:32:10
2   2024-03-30  09:17:14  103.0 2024-03-30 09:17:14
3   2024-03-29  07:52:46  107.0 2024-03-29 07:52:46
4   2024-03-29  07:51:54  126.0 2024-03-29 07:51:54
..         ...       ...    ...                 ...
214 2023-10-10  19:19:43   99.0 2023-10-10 19:19:43
215 2023-10-10  15:43:46   91.0 2023-10-10 15:43:46
216 2023-10-10  13:27:02  101.0 2023-10-10 13:27:02
217 2023-10-10  09:53:13  109.0 2023-10-10 09:53:13
218 2023-10-10  07:45:03   96.0 2023-10-10 07:45:03

[219 rows x 4 columns]

In [7]:
# Convert 'sugar' column to integer type hint it is necessary to 'sugar' column not contains null value in previous step
filtered_df.loc[:, 'sugar'] = filtered_df['sugar'].astype(int)

# Display the converted data
df = filtered_df.sort_values(by=['date', 'time', 'sugar'], ascending=[False, False, True])

# Print first 20 values
df.head(20)

         date      time  sugar            datetime
0  2024-04-02  08:21:59  101.0 2024-04-02 08:21:59
1  2024-04-01  07:32:10  107.0 2024-04-01 07:32:10
2  2024-03-30  09:17:14  103.0 2024-03-30 09:17:14
3  2024-03-29  07:52:46  107.0 2024-03-29 07:52:46
4  2024-03-29  07:51:54  126.0 2024-03-29 07:51:54
5  2024-03-29  07:50:12  124.0 2024-03-29 07:50:12
6  2024-03-28  11:29:00   98.0 2024-03-28 11:29:00
7  2024-03-28  07:46:03  108.0 2024-03-28 07:46:03
8  2024-03-28  07:22:09  100.0 2024-03-28 07:22:09
9  2024-03-28  07:20:25  122.0 2024-03-28 07:20:25
10 2024-03-26  22:39:21  150.0 2024-03-26 22:39:21
11 2024-03-26  19:09:00  100.0 2024-03-26 19:09:00
12 2024-03-26  09:57:47  101.0 2024-03-26 09:57:47
13 2024-03-26  07:47:01   98.0 2024-03-26 07:47:01
14 2024-03-25  17:40:40  102.0 2024-03-25 17:40:40
15 2024-03-25  08:23:23  112.0 2024-03-25 08:23:23
16 2024-03-24  08:24:17   96.0 2024-03-24 08:24:17
17 2024-03-23  09:49:52   96.0 2024-03-23 09:49:52
18 2024-03-21  08:23:57  107.0 2024-03-21 08:23:57
19 2024-03-20  07:24:16  103.0 2024-03-20 07:24:16

In [8]:
# Get fasting data 
df_fasting = df.drop_duplicates('date', keep='last')
print(f'Data size before removing to late time {df_fasting.shape[0]} ')

# Remove if the first blood sugar measurement was after 11 am. 
df_fasting = df_fasting[df_fasting['time'] <= pd.to_datetime('11:00:00').time()]

# Label as 'Fasting'
df_fasting['label'] = labels[0]

# Size after data 
print(f'Data size after removing to late time {df_fasting.shape[0]}')

# Print data 
df_fasting

Data size before removing to late time 120
Data size after removing to late time 116

          date      time  sugar            datetime   label
0   2024-04-02  08:21:59  101.0 2024-04-02 08:21:59  Nadczo
1   2024-04-01  07:32:10  107.0 2024-04-01 07:32:10  Nadczo
2   2024-03-30  09:17:14  103.0 2024-03-30 09:17:14  Nadczo
5   2024-03-29  07:50:12  124.0 2024-03-29 07:50:12  Nadczo
9   2024-03-28  07:20:25  122.0 2024-03-28 07:20:25  Nadczo
..         ...       ...    ...                 ...     ...
209 2023-10-16  08:37:59   83.0 2023-10-16 08:37:59  Nadczo
210 2023-10-15  09:44:46   92.0 2023-10-15 09:44:46  Nadczo
211 2023-10-13  08:27:04  108.0 2023-10-13 08:27:04  Nadczo
212 2023-10-11  07:42:46   98.0 2023-10-11 07:42:46  Nadczo
218 2023-10-10  07:45:03   96.0 2023-10-10 07:45:03  Nadczo

[116 rows x 5 columns]

In [9]:
# Get After dinner measurement we assume that is after 7 pm. 
df_dinner = df.drop_duplicates('date', keep='first').loc[df['time']>= pd.to_datetime('19:00:00').time()]

# Label data as 'After dinner'
df_dinner['label'] = labels[3]

# Print data 
df_dinner

          date      time  sugar            datetime       label
10  2024-03-26  22:39:21  150.0 2024-03-26 22:39:21  Po kolacji
21  2024-03-18  21:40:49  140.0 2024-03-18 21:40:49  Po kolacji
35  2024-02-27  22:02:47   96.0 2024-02-27 22:02:47  Po kolacji
46  2024-02-20  20:52:08   92.0 2024-02-20 20:52:08  Po kolacji
51  2024-02-12  19:33:09  103.0 2024-02-12 19:33:09  Po kolacji
63  2024-02-01  21:46:46  121.0 2024-02-01 21:46:46  Po kolacji
76  2024-01-22  21:15:18  127.0 2024-01-22 21:15:18  Po kolacji
83  2024-01-15  20:03:34  104.0 2024-01-15 20:03:34  Po kolacji
91  2024-01-10  19:21:18  111.0 2024-01-10 19:21:18  Po kolacji
99  2024-01-04  21:49:41  121.0 2024-01-04 21:49:41  Po kolacji
112 2023-12-28  20:03:40  112.0 2023-12-28 20:03:40  Po kolacji
123 2023-12-13  22:10:12  109.0 2023-12-13 22:10:12  Po kolacji
133 2023-12-04  21:35:57  118.0 2023-12-04 21:35:57  Po kolacji
139 2023-11-30  20:45:34  113.0 2023-11-30 20:45:34  Po kolacji
151 2023-11-20  21:19:15  113.0 2023-11-20 21:19:15  Po kolacji
161 2023-11-13  21:37:46  136.0 2023-11-13 21:37:46  Po kolacji
173 2023-11-06  21:15:28  123.0 2023-11-06 21:15:28  Po kolacji
185 2023-10-30  21:34:39  103.0 2023-10-30 21:34:39  Po kolacji
195 2023-10-23  22:22:33  120.0 2023-10-23 22:22:33  Po kolacji
201 2023-10-19  22:34:45   92.0 2023-10-19 22:34:45  Po kolacji
213 2023-10-10  22:35:47  108.0 2023-10-10 22:35:47  Po kolacji

In [10]:
# Merge data with fasting and after dinner to reduce Data Frame data categorized to one of this group on next step  
merged_df_dinner = df.merge(df_dinner[['date', 'datetime']], on='date', suffixes=('_df', '_dinner'))
merged_df_dinner_fasting = merged_df_dinner.merge(df_fasting[['date', 'datetime']].rename(columns={'datetime': 'datetime_fasting'}), on='date', how='left')

# Print first 20 rows
merged_df_dinner_fasting.head(20)

,date,time,sugar,datetime_df,datetime_dinner,datetime_fasting
0,2024-03-26,22:39:21,150.0,2024-03-26 22:39:21,2024-03-26 22:39:21,2024-03-26 07:47:01
1,2024-03-26,19:09:00,100.0,2024-03-26 19:09:00,2024-03-26 22:39:21,2024-03-26 07:47:01
2,2024-03-26,09:57:47,101.0,2024-03-26 09:57:47,2024-03-26 22:39:21,2024-03-26 07:47:01
3,2024-03-26,07:47:01,98.0,2024-03-26 07:47:01,2024-03-26 22:39:21,2024-03-26 07:47:01
4,2024-03-18,21:40:49,140.0,2024-03-18 21:40:49,2024-03-18 21:40:49,2024-03-18 07:39:23
5,2024-03-18,19:27:54,99.0,2024-03-18 19:27:54,2024-03-18 21:40:49,2024-03-18 07:39:23
6,2024-03-18,16:00:16,92.0,2024-03-18 16:00:16,2024-03-18 21:40:49,2024-03-18 07:39:23
7,2024-03-18,10:56:26,91.0,2024-03-18 10:56:26,2024-03-18 21:40:49,2024-03-18 07:39:23
8,2024-03-18,07:39:23,109.0,2024-03-18 07:39:23,2024-03-18 21:40:49,2024-03-18 07:39:23
9,2024-02-27,22:02:47,96.0,2024-02-27 22:02:47,2024-02-27 22:02:47,2024-02-27 07:24:19
10,2024-02-27,20:01:58,83.0,2024-02-27 20:01:58,2024-02-27 22:02:47,2024-02-27 07:24:19
11,2024-02-27,15:41:01,89.0,2024-02-27 15:41:01,2024-02-27 22:02:47,2024-02-27 07:24:19
12,2024-02-27,10:42:19,107.0,2024-02-27 10:42:19,2024-02-27 22:02:47,2024-02-27 07:24:19
13,2024-02-27,07:24:19,116.0,2024-02-27 07:24:19,2024-02-27 22:02:47,2024-02-27 07:24:19
14,2024-02-20,20:52:08,92.0,2024-02-20 20:52:08,2024-02-20 20:52:08,2024-02-20 09:36:35
15,2024-02-20,09:36:35,107.0,2024-02-20 09:36:35,2024-02-20 20:52:08,2024-02-20 09:36:35
16,2024-02-12,19:33:09,103.0,2024-02-12 19:33:09,2024-02-12 19:33:09,2024-02-12 07:57:16
17,2024-02-12,13:37:57,101.0,2024-02-12 13:37:57,2024-02-12 19:33:09,2024-02-12 07:57:16
18,2024-02-12,11:17:40,102.0,2024-02-12 11:17:40,2024-02-12 19:33:09,2024-02-12 07:57:16
19,2024-02-12,07:57:16,102.0,2024-02-12 07:57:16,2024-02-12 19:33:09,2024-02-12 07:57:16

In [11]:
# Get lower sugar level 2 hours after lunch we assuming it will be between 6-1 hours before "After dinner" measurement 
df_lunch= merged_df_dinner_fasting[(merged_df_dinner_fasting['datetime_dinner'] - merged_df_dinner_fasting['datetime_df'] < pd.Timedelta(hours=6)) & 
                                    (merged_df_dinner_fasting['datetime_dinner'] - merged_df_dinner_fasting['datetime_df'] >= pd.Timedelta(hours=1))]

# Sort values date and sugar ascending
df_lunch = df_lunch.sort_values(by=['date', 'sugar'], ascending=[True, True])

# Get lower sugar level from each day
df_lunch_get_better = df_lunch.groupby('date').first().reset_index()

# Label as after lunch
df_lunch_get_better['label'] = labels[2]

# Print out better result after lunch
df_lunch_get_better

,date,time,sugar,datetime_df,datetime_dinner,datetime_fasting,label
0,2023-10-10,19:19:43,99.0,2023-10-10 19:19:43,2023-10-10 22:35:47,2023-10-10 07:45:03,Po obiedzie
1,2023-10-19,20:09:17,111.0,2023-10-19 20:09:17,2023-10-19 22:34:45,2023-10-19 08:02:30,Po obiedzie
2,2023-10-23,17:59:50,114.0,2023-10-23 17:59:50,2023-10-23 22:22:33,2023-10-23 07:48:23,Po obiedzie
3,2023-10-30,19:28:25,109.0,2023-10-30 19:28:25,2023-10-30 21:34:39,2023-10-30 08:21:56,Po obiedzie
4,2023-11-06,18:42:56,119.0,2023-11-06 18:42:56,2023-11-06 21:15:28,2023-11-06 07:53:56,Po obiedzie
5,2023-11-13,18:57:35,99.0,2023-11-13 18:57:35,2023-11-13 21:37:46,2023-11-13 08:12:47,Po obiedzie
6,2023-11-20,19:01:08,99.0,2023-11-20 19:01:08,2023-11-20 21:19:15,2023-11-20 08:26:14,Po obiedzie
7,2023-11-30,18:18:50,106.0,2023-11-30 18:18:50,2023-11-30 20:45:34,2023-11-30 07:26:36,Po obiedzie
8,2023-12-13,19:20:12,106.0,2023-12-13 19:20:12,2023-12-13 22:10:12,2023-12-13 07:40:40,Po obiedzie
9,2023-12-28,16:10:31,100.0,2023-12-28 16:10:31,2023-12-28 20:03:40,2023-12-28 09:59:33,Po obiedzie
10,2024-01-04,18:20:24,97.0,2024-01-04 18:20:24,2024-01-04 21:49:41,2024-01-04 07:46:49,Po obiedzie
11,2024-01-10,16:40:19,98.0,2024-01-10 16:40:19,2024-01-10 19:21:18,2024-01-10 07:42:10,Po obiedzie
12,2024-01-15,15:03:08,102.0,2024-01-15 15:03:08,2024-01-15 20:03:34,2024-01-15 08:05:52,Po obiedzie
13,2024-01-22,15:24:29,105.0,2024-01-22 15:24:29,2024-01-22 21:15:18,2024-01-22 08:17:09,Po obiedzie
14,2024-02-01,19:13:54,103.0,2024-02-01 19:13:54,2024-02-01 21:46:46,2024-02-01 08:20:22,Po obiedzie
15,2024-02-12,13:37:57,101.0,2024-02-12 13:37:57,2024-02-12 19:33:09,2024-02-12 07:57:16,Po obiedzie
16,2024-02-27,20:01:58,83.0,2024-02-27 20:01:58,2024-02-27 22:02:47,2024-02-27 07:24:19,Po obiedzie
17,2024-03-18,16:00:16,92.0,2024-03-18 16:00:16,2024-03-18 21:40:49,2024-03-18 07:39:23,Po obiedzie
18,2024-03-26,19:09:00,100.0,2024-03-26 19:09:00,2024-03-26 22:39:21,2024-03-26 07:47:01,Po obiedzie

In [12]:
# Get lower sugar level 2 hours after breakfast we assuming it will be between 6-1 hours after "Fasting" measurement 
df_breakfast= merged_df_dinner_fasting[(merged_df_dinner_fasting['datetime_df'] - merged_df_dinner_fasting['datetime_fasting'] < pd.Timedelta(hours=6)) & 
                                       (merged_df_dinner_fasting['datetime_df'] - merged_df_dinner_fasting['datetime_fasting'] > pd.Timedelta(hours=1))]

# Sort values date and sugar ascending
df_breakfast = df_breakfast.sort_values(by=['date', 'sugar'], ascending=[True, True])

# Get lower sugar level from each day after breakfast
df_breakfast_get_better = df_breakfast.groupby('date').first().reset_index()

# Label as after breakfast
df_breakfast_get_better['label'] = labels[1]

# Print out better result after breakfast
df_breakfast_get_better

,date,time,sugar,datetime_df,datetime_dinner,datetime_fasting,label
0,2023-10-10,13:27:02,101.0,2023-10-10 13:27:02,2023-10-10 22:35:47,2023-10-10 07:45:03,Po śniadaniu
1,2023-10-19,10:59:13,97.0,2023-10-19 10:59:13,2023-10-19 22:34:45,2023-10-19 08:02:30,Po śniadaniu
2,2023-10-23,11:16:48,102.0,2023-10-23 11:16:48,2023-10-23 22:22:33,2023-10-23 07:48:23,Po śniadaniu
3,2023-10-30,10:25:21,96.0,2023-10-30 10:25:21,2023-10-30 21:34:39,2023-10-30 08:21:56,Po śniadaniu
4,2023-11-06,12:56:58,110.0,2023-11-06 12:56:58,2023-11-06 21:15:28,2023-11-06 07:53:56,Po śniadaniu
5,2023-11-13,10:23:42,97.0,2023-11-13 10:23:42,2023-11-13 21:37:46,2023-11-13 08:12:47,Po śniadaniu
6,2023-11-20,13:37:13,102.0,2023-11-20 13:37:13,2023-11-20 21:19:15,2023-11-20 08:26:14,Po śniadaniu
7,2023-11-30,13:25:53,103.0,2023-11-30 13:25:53,2023-11-30 20:45:34,2023-11-30 07:26:36,Po śniadaniu
8,2023-12-04,12:39:27,107.0,2023-12-04 12:39:27,2023-12-04 21:35:57,2023-12-04 07:58:30,Po śniadaniu
9,2023-12-13,12:58:13,106.0,2023-12-13 12:58:13,2023-12-13 22:10:12,2023-12-13 07:40:40,Po śniadaniu
10,2023-12-28,12:04:05,100.0,2023-12-28 12:04:05,2023-12-28 20:03:40,2023-12-28 09:59:33,Po śniadaniu
11,2024-01-04,10:18:27,104.0,2024-01-04 10:18:27,2024-01-04 21:49:41,2024-01-04 07:46:49,Po śniadaniu
12,2024-01-10,09:50:59,103.0,2024-01-10 09:50:59,2024-01-10 19:21:18,2024-01-10 07:42:10,Po śniadaniu
13,2024-01-15,12:18:27,94.0,2024-01-15 12:18:27,2024-01-15 20:03:34,2024-01-15 08:05:52,Po śniadaniu
14,2024-01-22,12:32:48,105.0,2024-01-22 12:32:48,2024-01-22 21:15:18,2024-01-22 08:17:09,Po śniadaniu
15,2024-02-01,12:23:49,100.0,2024-02-01 12:23:49,2024-02-01 21:46:46,2024-02-01 08:20:22,Po śniadaniu
16,2024-02-12,13:37:57,101.0,2024-02-12 13:37:57,2024-02-12 19:33:09,2024-02-12 07:57:16,Po śniadaniu
17,2024-02-27,10:42:19,107.0,2024-02-27 10:42:19,2024-02-27 22:02:47,2024-02-27 07:24:19,Po śniadaniu
18,2024-03-18,10:56:26,91.0,2024-03-18 10:56:26,2024-03-18 21:40:49,2024-03-18 07:39:23,Po śniadaniu
19,2024-03-26,09:57:47,101.0,2024-03-26 09:57:47,2024-03-26 22:39:21,2024-03-26 07:47:01,Po śniadaniu

In [13]:
# Merge all selected Data Frame in to one
df = pd.concat([df_dinner, df_breakfast_get_better, df_lunch_get_better, df_fasting])

# Filling missing data and for 2 labels categories (after merging was added suffix) if datetime doesn't contain data in 'datetime'
df['datetime'] = df['datetime'].fillna(df['datetime_df'])

# Keep only selected columns 
df_selected_columns = df[['date', 'time', 'sugar', 'datetime', 'label']].copy()

# Print before export data
df_selected_columns

          date      time  sugar            datetime       label
10  2024-03-26  22:39:21  150.0 2024-03-26 22:39:21  Po kolacji
21  2024-03-18  21:40:49  140.0 2024-03-18 21:40:49  Po kolacji
35  2024-02-27  22:02:47   96.0 2024-02-27 22:02:47  Po kolacji
46  2024-02-20  20:52:08   92.0 2024-02-20 20:52:08  Po kolacji
51  2024-02-12  19:33:09  103.0 2024-02-12 19:33:09  Po kolacji
..         ...       ...    ...                 ...         ...
209 2023-10-16  08:37:59   83.0 2023-10-16 08:37:59      Nadczo
210 2023-10-15  09:44:46   92.0 2023-10-15 09:44:46      Nadczo
211 2023-10-13  08:27:04  108.0 2023-10-13 08:27:04      Nadczo
212 2023-10-11  07:42:46   98.0 2023-10-11 07:42:46      Nadczo
218 2023-10-10  07:45:03   96.0 2023-10-10 07:45:03      Nadczo

[176 rows x 5 columns]

In [14]:
df_selected_columns['sugar'] = df_selected_columns['sugar'].astype(int)
df_selected_columns

          date      time  sugar            datetime       label
10  2024-03-26  22:39:21    150 2024-03-26 22:39:21  Po kolacji
21  2024-03-18  21:40:49    140 2024-03-18 21:40:49  Po kolacji
35  2024-02-27  22:02:47     96 2024-02-27 22:02:47  Po kolacji
46  2024-02-20  20:52:08     92 2024-02-20 20:52:08  Po kolacji
51  2024-02-12  19:33:09    103 2024-02-12 19:33:09  Po kolacji
..         ...       ...    ...                 ...         ...
209 2023-10-16  08:37:59     83 2023-10-16 08:37:59      Nadczo
210 2023-10-15  09:44:46     92 2023-10-15 09:44:46      Nadczo
211 2023-10-13  08:27:04    108 2023-10-13 08:27:04      Nadczo
212 2023-10-11  07:42:46     98 2023-10-11 07:42:46      Nadczo
218 2023-10-10  07:45:03     96 2023-10-10 07:45:03      Nadczo

[176 rows x 5 columns]

In [15]:
# Create pivot table using sugar level data per day, to remove duplicates used aggregation function take minimal
pivot_table = df_selected_columns.pivot_table(index='date', columns='label', values='sugar', aggfunc='min')

# Rearrange order columns to have as in labels list
pivot_table = pivot_table.reindex(columns=labels)

# Save as output file
pivot_table.to_csv(output_name)

# Print out final data
pivot_table

label       Nadczo  Po śniadaniu  Po obiedzie  Po kolacji
date
2023-10-10    96.0         101.0         99.0       108.0
2023-10-11    98.0           NaN          NaN         NaN
2023-10-13   108.0           NaN          NaN         NaN
2023-10-15    92.0           NaN          NaN         NaN
2023-10-16    83.0           NaN          NaN         NaN
...            ...           ...          ...         ...
2024-03-28   122.0           NaN          NaN         NaN
2024-03-29   124.0           NaN          NaN         NaN
2024-03-30   103.0           NaN          NaN         NaN
2024-04-01   107.0           NaN          NaN         NaN
2024-04-02   101.0           NaN          NaN         NaN

[116 rows x 4 columns]

In [20]:
# Styled table
# set data as %Y-%m-%d format
pivot_table.index = pd.to_datetime(pivot_table.index).strftime('%Y-%m-%d').str[:10]

# Round sugar to integer or put empty string
styled_table = pivot_table.style\
    .format({col: lambda x: f"{int(x):.0f}" if not pd.isna(x) else '' for col in pivot_table.columns})\
    .set_table_styles([{'selector': 'th', 'props': [('text-align', 'center')]}])\
    .set_caption(output_name)\
    .set_properties(**{'color': 'black',
                       'border-color': 'white'})

# Adding background gradient and show table
styled_table.background_gradient(cmap='Blues', axis=None)